VITE_FIREBASE_API_KEY=AIzaSyDEjTJR_H4pjS53ziW9NLIitV3hG74hBX8
VITE_FIREBASE_AUTH_DOMAIN=laubhaufen-app-20260717.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=laubhaufen-app-20260717
VITE_FIREBASE_STORAGE_BUCKET=laubhaufen-app-20260717.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1040776039282
VITE_FIREBASE_APP_ID=1:1040776039282:web:3eac5d75335b74a165ebeb

